tags
test.sh
.luarc.json
nvim

spell/

# You likely want to comment this, since it's recommended to track lazy-lock.json in version
# control, see https://lazy.folke.io/usage/lockfile
# For kickstart, it makes sense to leave it ignored.
lazy-lock.json

# Plugin manager folders
packer_compiled.lua

# Swap/backup/session files
*.swp
*.swo
*.bak
*.tmp
session/

# OS files
.DS_Store

# Cache
plugin/packer_compiled.luaDS_Store
